# Bỏ qua môi trường ảo
.mvenv/
.myenv/
venv/
.venv/
env/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Bỏ qua cache Python
__pycache__/
*.py[cod]

# Bỏ qua dữ liệu output và index
chroma_db/
data/
*.csv
*.tsv
*.xlsx
*.json
*.pdf
*.zip
*.tar.gz
*.npy
*.npz
*.pkl
*.joblib
*.ckpt
*.pt
*.pth

# IDE/editor config
.vscode/
.idea/

# Hệ điều hành
.DS_Store
Thumbs.db

# Lưu biến môi trường
.env
.venv311

# File thử nghiệm
advance_rag.ipynb
rag.ipynb
