llama-index-vector-stores-chroma
llama-index
sentence-transformers
llama-index-embeddings-huggingface
chromadb
llama-index-llms-groq
fastapi
uvicorn
python-dotenv
notebook
underthesea
llama-index-retrievers-bm25
llama-index-postprocessor-flag-embedding-reranker
git+https://github.com/FlagOpen/FlagEmbedding.git