llama-index-vector-stores-chroma
llama-index
sentence-transformers
llama-index-embeddings-huggingface
chromadb
llama-index-llms-groq
fastapi
python-dotenv
notebook
underthesea
llama-index-retrievers-bm25
llama-index-postprocessor-flag-embedding-reranker
pandas
sentence-transformers
langchain
faiss-cpu
openai
tiktoken
uvicorn

git+https://github.com/FlagOpen/FlagEmbedding.git